@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
    font-family: "Comic Relief", system-ui;
}

#gif {
    height: 100%;
    width: 100%;
    max-height: 300px; /* Added max-height to keep it neat */
    object-fit: contain;
    cursor: pointer;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    /* Changed color to a friendly Blue */
    color: #0984e3; 
    margin: 15px 0;
}

#btn-group {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative; /* Ensure buttons position relative to this area initially */
}

button {
    position: absolute;
    width: 150px;
    height: inherit;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    /* Border changed to Blue */
    border: 2px solid #0984e3; 
    font-size: 1.2em;
    transition: transform 0.2s; /* Smooth click effect */
}

/* YES BUTTON */
button:nth-child(1) {
    margin-left: -200px;
    /* Background changed to Blue */
    background: #0984e3; 
}

/* NO BUTTON */
button:nth-child(2) {
    margin-right: -200px;
    background: white;
    /* Text color changed to Blue */
    color: #0984e3; 
}

#no-btn {
    cursor: not-allowed;
}